[submodule "DFS-File-System"]
	path = DFS-File-System
	url = https://github.com/stefano-lupo/DFS-File-System
[submodule "DFS-Directory-Service"]
	path = DFS-Directory-Service
	url = https://github.com/stefano-lupo/DFS-Directory-Service
[submodule "DFS-Locking-Service"]
	path = DFS-Locking-Service
	url = https://github.com/stefano-lupo/DFS-Locking-Service
[submodule "DFS-Caching-Service"]
	path = DFS-Caching-Service
	url = https://github.com/stefano-lupo/DFS-Caching-Service
[submodule "DFS-Security-Service"]
	path = DFS-Security-Service
	url = https://github.com/stefano-lupo/DFS-Security-Service
